.car {
    border: 4px solid red;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .14);
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

.input {}

.input:active, input:focus {
    outline: none;
}


.input.green {
    border: 3px solid forestgreen;
}

input.red {
    border: 3px solid red;
}

.input.bold {
    border: 4px solid green;
    font-weight: bold;
}